.footer{
    position: fixed;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    height: 5vh;
    width: 100vw;
    background-color: #282828;
    padding: 20px;
}
.footerleft{
    display: flex;
    align-items: center;
    color: white;
    width: 300px;
    flex: 0.3;
}
.footercenter{
    display: flex;
    flex: 0.4;
    padding: 0 100px;
    color: white;
    align-items: center;
    justify-content: space-between;
    max-width: 300px;
}
.footerAlbumLogo{
    height: 60px;
    width: 60px;
    margin-right: 20px;
    object-fit: contain;
}
.footerright{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-right: 2%;
    width: 50%;
    flex: 0.3;
}
.footerGreen{
    color: #1ed15e;
}
.footerSongInfo >h4{
    margin-bottom: 5px;
}
.footerSongInfo >p{
    color: rgb(158, 156, 156);
}
.footerSongInfo{
   font-size: 12px;
   
}
.footerright * .MuiSlider-root{
    color:  #1ed15e;
}

.footerIcon:hover,
.footerGreen:hover{
    transition: transform 0.2s ease-in-out;
    transform: scale(1.2) !important;
}