.sidebar{
   
    
    height: 100vh;
    flex:0.12;
    color: white;
    min-width: 230px;
    height: 100vh;
    background-color: #040404;
}

.sidebar_logo{
    object-fit: contain;
    height: 70px;
    padding: 10px;
    margin-right: auto;

}
